// colors
$navyBlue: #2c3e50;
$red: #e64c3b;
$white: #fff;
$lightGrey: #aaa;
$green: #43a752;

// font
$mainFont: 'Raleway', sans-serif;
$font-normal: 400;
$font-bold: 600;
$font-light: 200;
$nav-letter-spacing: .25em;

$buttonMargin: -2.5px;
$buttonRadiusLeft: 10px 0 0 10px;
$buttonRadiusRight: 0 10px 10px 0;